

  #header {
    height: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 2;
    display: flex;
  }

  body {background-color: tan;}

 * {
    max-width: 900px;
    margin: auto;
  }
  
  div {
    border-radius: 6px;
  }

  #title {
    margin-left: 5%;
  }
  
  #footer {
    height: 50px;
    width: 100%;
    background-color: #000000;
    clear: both;
    position: relative;
  }
  
  .left {
    height: 2000px;
    width: 65px;
    background-color: #000000;
    float: left;
    position: fixed;
  }
  
  .right {
    height: 2000px;
    width: 65px;
    background-color: #f5f5f5;
    float: right;
    position: inherit;
  }
  
  .stuff {
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;
    width: 77%;
    height: 100px;
  }
  
  
  .head {
    font-size: 20px;
  }
  
  #name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }
  
  a {
    color: rgb(0, 0, 238);
    text-decoration: initial;
  }
   max-width: 430px {
    .left,
    .right {
      display: none;
    }
    .stuff {
      width: 100%;
      margin-left: 10px;
    }
  }
